.portfolio {
    background-color: #1a1a1a;
}

.portfolio__footer,
.portfolio__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__header {
    flex-direction: column;
    position: relative;
    height: 300px;
    background: linear-gradient(0deg, rgba(0, 0, 0, .32), rgba(0, 0, 0, .32)), url(./img/portfolio-background.jpg);
    background-position: 50%;
    background-size: 100%;
}

.gracia {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.35538em;
    color: rgb(0, 0, 0);
    border: 10px solid black;
    padding: 25px 65px;
}

.filter,
.filter ul {
    display: flex;
    justify-content: center;
}

.filter {
    background-color: #1a1a1a;
}

ol,
ul {
    list-style: none;
}

.filter ul {
    flex-wrap: wrap;
    color: grey;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.filter li.active,
.filter li.active:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.filter li {
    cursor: pointer;
    font-family: "Montserrat";
    padding-top: 30px;
    width: 200px;
    height: 55px;
    border-bottom: 1px solid grey;
    line-height: 1.13;
    text-align: center;
    font-weight: 600;
    font-size: .83rem;
    transition: color .25s;
}

.projects {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.project {
    position: relative;
    color: #fff;
    flex: auto;
    flex-grow: 0;
    flex-basis: 33.33333%;
    transition: .3s;
    min-width: 33%;
    border: 4px solid #000;
}

.project:hover .project__container {
    visibility: visible;
    opacity: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
}

.project__container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.project__container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    visibility: hidden;
    transition: .3s;
    opacity: 0;
}

.project__container,
.project__image {
    width: 100%;
    height: 100%;
}

.project__tags {
    text-transform: uppercase;
}

.project__tags,
.project__title {
    display: flex;
    align-items: center;
    text-align: center;

}

.project__tags {
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: .095em;
}

.project__title {
    margin: 20px 0;
    font-size: 25px;
    font-weight: 700;
    font-size: 32px;
    line-height: 127.9%;
    letter-spacing: .15em;
}

.project__description {
    padding: 10px 20px 30px;
    text-align: center;
    line-height: 1.5em;
}

.project__buttons {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.salut {
    display: inline-block;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s
}

.salut:hover {
    background: rgba(255, 255, 255, 0.562);
}

.salut:active {
    background: white;
}