.container__about {
    display: inline-block;
    position: relative;
}

.background__about {
    display: block;
    background-color: #d7d7d7;
    width: 2024px;
    height: 3500px;
}

.border__title {
    position: absolute;
    padding: 142px 1012px 0px 827px;
}

.title__aboutme {
    position: absolute;
    letter-spacing: 15px;
    border: 8px solid #000;
    text-transform: uppercase;
    padding: 34px 32px;

    font-weight: bolder;
    font-family: 'Montserrat';
    font-size: 30px;
    color: #050505;
}

.subtext__aboutme {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 320px 579px;

    color: #050505;
    text-align: center;
}


.btn__position_explore {
    position: absolute;
    padding: 434px 1012px 0px 942px;
}

.btn__explore {
    outline: none;
    white-space: nowrap;
    position: absolute;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;


    display: inline-block;
    color: #050505;
    padding: 10px 33px;
    cursor: pointer;
    transition: var(--transition);
}

.btn__explore:hover {
    background-image:
        radial-gradient(10px 100% at 0% 50%, rgba(255, 255, 255, 0), transparent),
        radial-gradient(10px 100% at 100% 50%, rgb(255, 255, 255), transparent);
    transition: var(--transition)
}

.separator__img1 {
    position: absolute;
    padding: 551px 927px 0px 927px;
}


.abilities__design_title {
    position: absolute;
    padding: 671px 1239px 0px 404px;

    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    color: #050505;
}

.abilities__design_subtitle {
    position: absolute;
    padding: 744px 1200px 0px 404px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

}

.abilities__development_title {
    position: absolute;
    padding: 671px 637px 0px 1209px;

    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    color: #050505;
}

.abilities__development_subtitle {
    position: absolute;
    padding: 744px 450px 0px 1209px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

}

.abilities__maintenance_title {
    position: absolute;
    padding: 866px 914px 0px 729px;

    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    color: #050505;
}

.abilities__maintenance_subtitle {
    position: absolute;
    padding: 940px 914px 0px 729px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.separator__img2 {
    position: absolute;
    padding: 1124px 927px 0px 927px;
}