.about__content {
    background: #d7d7d7;
}

.activation {
    opacity: 1;
    transition: 2s linear;
}

.about__content-text {
    padding: 95px 0 0 0;
    width: 550px;
    text-align: center;
    margin: 0 auto;
}