nav {
    display: block;
}

.header-bottom-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 0;
    border-bottom: 1px solid #828282;
}

ul {

    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.header-body-menu__links {
    font-family: "Open Sans", sans-serif;
    list-style-type: none;
    transition: .5s;
    color: #828282;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    text-decoration: none;
}